[submodule "chrome-extension"]
	path = chrome-extension
	url = git@github.com:Computer-Network-Lab-1/chrome-extension.git
[submodule "server"]
	path = server
	url = git@github.com:Computer-Network-Lab-1/server.git
[submodule "color-extractor"]
	path = color-extractor
	url = git@github.com:Computer-Network-Lab-1/color-extractor.git
[submodule "500px-crawler"]
	path = 500px-crawler
	url = git@github.com:Computer-Network-Lab-1/500px-crawler.git
[submodule "OS-X-Client"]
	path = OS-X-Client
	url = git@github.com:Computer-Network-Lab-1/OS-X-Client.git
